In [1]:
from randomuser import RandomUser
import pandas as pd

In [2]:
obj = RandomUser()

In [3]:
# getting 10 random user
 
some_user_list = obj.generate_users(10)

In [4]:
some_user_list

[<randomuser.RandomUser at 0x7f66b5351930>,
 <randomuser.RandomUser at 0x7f66b5352f50>,
 <randomuser.RandomUser at 0x7f66b423c940>,
 <randomuser.RandomUser at 0x7f66b423db40>,
 <randomuser.RandomUser at 0x7f66b423ea40>,
 <randomuser.RandomUser at 0x7f66b423ca60>,
 <randomuser.RandomUser at 0x7f66b423d000>,
 <randomuser.RandomUser at 0x7f66b423ec20>,
 <randomuser.RandomUser at 0x7f66b423e800>,
 <randomuser.RandomUser at 0x7f66b423ca90>]

In [5]:
name = obj.get_full_name()

In [6]:
for user in some_user_list:
    print(user.get_full_name(), " ", user.get_email())

Maxence Perez   maxence.perez@example.com
Petter Tjelle   petter.tjelle@example.com
Maria Doyle   maria.doyle@example.com
Tora Almaas   tora.almaas@example.com
Valdira da Rosa   valdira.darosa@example.com
Barış Evliyaoğlu   baris.evliyaoglu@example.com
Loïc Meunier   loic.meunier@example.com
Carl Gonzalez   carl.gonzalez@example.com
Silke Poulsen   silke.poulsen@example.com
Elisa Santos   elisa.santos@example.com

In [9]:
def get_user():
    users = [] #list
    for user in RandomUser.generate_users(10):
        users.append({
            "Name": user.get_full_name(),
            "Gender": user.get_gender(),
            "City": user.get_city(),
            "Picture": user.get_picture()
        })
    return pd.DataFrame(users)

get_user()

,Name,Gender,City,Picture
0,Olivia Koivisto,female,Vårdö,https://randomuser.me/api/portraits/women/80.jpg
1,Sílvia da Cunha,female,Araguaína,https://randomuser.me/api/portraits/women/76.jpg
2,Maelya Caron,female,Nanterre,https://randomuser.me/api/portraits/women/0.jpg
3,Gonca Adal,female,Kırşehir,https://randomuser.me/api/portraits/women/7.jpg
4,Theo Turner,male,Gisborne,https://randomuser.me/api/portraits/men/53.jpg
5,Timothy Frazier,male,Coventry,https://randomuser.me/api/portraits/men/46.jpg
6,Andreas Christiansen,male,Brondby,https://randomuser.me/api/portraits/men/43.jpg
7,Jonathan Santos,male,Arrecife,https://randomuser.me/api/portraits/men/7.jpg
8,Vedat Keseroğlu,male,Mardin,https://randomuser.me/api/portraits/men/79.jpg
9,Adalgisa das Neves,female,Cabo de Santo Agostinho,https://randomuser.me/api/portraits/women/37.jpg