# Practice PandasLibrary

In [4]:
import pandas as pd

In [6]:

# Dictionary
x = {'Name': ['Rose','John', 'Jane', 'Mary'], 'ID': [1, 2, 3, 4], 'Department': ['Architect Group', 'Software Group', 'Design Team', 'Infrastructure'], 
      'Salary':[100000, 80000, 50000, 60000]}

# convert dict to DataFrame
df = pd.DataFrame(x)

df

   Name  ID       Department  Salary
0  Rose   1  Architect Group  100000
1  John   2   Software Group   80000
2  Jane   3      Design Team   50000
3  Mary   4   Infrastructure   60000

In [8]:
x = df[['ID']]
x

   ID
0   1
1   2
2   3
3   4

In [10]:
type(x)

pandas.core.frame.DataFrame

In [11]:
z = df[['Department', 'Salary', 'ID']]

KeyError: "['Depertment'] not in index"